@use '@/styles/common';
@use '@/styles/theme';

.land {
  max-width: 1600px;
  margin: auto;
  text-align: center;
}

.main__img {
  width: 100%;
  height: 50vh;
}

.main__serviceList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.land__introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introudct__title {
  margin: 5px 0;
  font-size: 30px;
}

.introudct__description {
  width: 100%;
  text-align: center;
}

.land__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  font-size: 1.3rem;
  font-weight: 400;
  margin: auto;
  padding-bottom: 3rem;
}

.land__contact > .landing__title {
  color: black;
}

.contact__description {
  @include common.button-default;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-bottom: 1.5rem;
  width: calc(33.3333333333% - 2rem);
  a {
    @include common.button-default;
    display: inline-block;
    text-decoration: none;
    color: theme.$black;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    font-size: 0.66em;
    span:last-child {
      margin-left: 0.5rem;
    }

    &:hover {
      color: theme.$primary;
    }
  }
}

.contact__call {
  font-size: 1.2rem;
  line-height: 30px;
}

.contact__email {
  font-size: 1.2rem;
}

.contact__btn {
  @include common.button-default;

  width: 125px;
  height: 40px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 0.1rem;
  &:hover {
    color: theme.$primary;
  }
}

.contact__text {
  padding-bottom: 0.5rem;
}

@media screen and (min-width: theme.$tablet) {
  .section {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(50% - 1rem);
      }
      li:nth-child(odd) {
        margin-right: 2rem;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: theme.$desktop) {
  .section {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        width: calc((100% / 3) - 2rem);
        margin-right: 2rem;
      }

      li:last-child,
      li:nth-child(3) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
