@use '@/styles/common';
@use '@/styles/theme';

.land {
  max-width: 1600px;
  margin: auto;
}

.main__img {
  width: 100%;
  height: 50vh;
}

.main__serviceList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.land__introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introudct__title {
  margin: 5px 0;
  font-size: 30px;
}

.introudct__description {
  width: 100%;
  text-align: center;
}

.land__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  color: #5f5b5e;
  font-size: 24px;
  font-weight: 500;
  margin: auto;
}

.land__contact > .landing__title {
  margin-bottom: 24px;
  color: black;
}

.contact__description {
  @include common.button-default;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact__img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  font-size: 25px;
  color: #5f5b5e;
}

.contact__call {
  font-size: 20px;
  line-height: 30px;
}

.contact__email {
  font-size: 13px;
  color: #5f5b5e;
}

.contact__btn {
  @include common.button-default;
  // @include common.button-clicked;

  width: 125px;
  height: 40px;
  margin: 20px 0;
  color: #5f5b5e;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in;
  &:hover {
  }
}

@media screen and (min-width: theme.$tablet) {
  .section {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(50% - 1rem);
        // display: inline-block;
      }
      li:nth-child(odd) {
        margin-right: 2rem;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: theme.$desktop) {
  .section {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        width: calc((100% / 3) - 2rem);
        margin-right: 2rem;
      }

      li:last-child,
      li:nth-child(3) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
