@use '@/styles/common';
@use '@/styles/theme';

.service {
  @include common.button-default;

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  margin: 15px 0;
  cursor: pointer;
}

.service__icon {
  @include common.button-clicked;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem !important;
  box-sizing: content-box;
  height: 2.5rem;
  padding: 1.5rem;
  color: theme.$lightBlack;
}

.service:hover {
  color: red;
}

.service__description {
  padding: 10px 0;
  color: #5f5b5e;
  font-size: 15px;
  text-align: center;
}

.service__detail {
  font-weight: 500;
  color: #5f5b5e;
  font-size: 12px;
}
