@use '@/styles/common';
@use '@/styles/theme';

.title__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4.5rem;

  > h2 {
    margin: 0;
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
  }

  > p {
    line-height: 1.6;
    margin: 0;
    color: theme.$lightBlack;
    font-weight: 300;
  }
}
