@use '@/styles/theme';
@use '@/styles/common';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: theme.$backgroundColor;
}
.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  position: relative;
  z-index: 2;
  padding: 1rem 1rem;
  background-color: theme.$backgroundColor;
}

.logo {
  padding: 0.1rem 0.8rem;
  font-size: 1.7rem;
  color: theme.$black;
  font-weight: 500;
  @include common.button-default;
}

.menuToggle {
  cursor: pointer;
  span,
  &::after,
  &::before {
    display: block;
    content: '';
    width: 22px;
    height: 3px;
    background-color: theme.$black;
    transition: transform 0.3s;
  }
  span {
    margin: 5px 0;
  }
}

.btnOpen {
  span {
    transform: rotate(45deg);
  }
  &::after {
    transform: translateY(-8px) rotate(45deg);
  }
  &::before {
    transform: translateY(8px) rotate(-45deg);
  }
}

.navOpen {
  top: 73px;
  bottom: 0;
  left: 0;
  right: 0;
}
