@use '@/styles/theme';
@use '@/styles/common';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0.7rem;
  background-color: theme.$backgroundColor;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
}
.headerBar {
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  background-color: theme.$backgroundColor;
}

.logo {
  @include common.button-default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0.8rem;
  color: theme.$black;
  font-size: 1.7rem;
  font-weight: 500;
}

.menuToggle {
  cursor: pointer;
  padding: 0.5rem;
  span,
  &::after,
  &::before {
    display: block;
    content: '';
    width: 22px;
    height: 3px;
    background-color: theme.$black;
    transition: transform 0.3s;
  }
  span {
    margin: 5px 0;
  }
}

.btnOpen {
  span {
    transform: rotate(45deg);
  }
  &::after {
    transform: translateY(-8px) rotate(45deg);
  }
  &::before {
    transform: translateY(8px) rotate(-45deg);
  }
}

.navOpen {
  opacity: 100;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: theme.$tablet) {
  .header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .menuToggle {
    display: none;
  }
}
