@use '@/styles/theme';

.nav {
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  background-color: theme.$backgroundColor;
  transition: top 0.5s;
  flex-grow: 1;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    color: theme.$black;
    li {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      a {
        width: 100%;
        padding: 21px;
        z-index: 1;
      }

      a.active {
        color: theme.$primary;

        background: rgba(17, 144, 187, 0.05);
      }

      > img {
        position: absolute;
        right: 18px;
        bottom: 50%;
        content: '';
        width: 20px;
        height: 20px;
        transform: translateY(50%) rotate(-90deg);
      }
    }

    li:not(:last-child)::before {
      position: absolute;
      bottom: 0;
      left: 16px;
      content: '';
      width: calc(100% - 32px);
      height: 1px;
      background-color: lightgray;
    }
  }
}

@media screen and (min-width: theme.$tablet) {
  .nav {
  position: static;
  height: auto;
  ul {
      justify-content: right;
      flex-direction: row;
      height: 100%;
      li:before {
        display: none;
      }
      li {
        > a.active {
          color: theme.$black;
          background: transparent;
          // &:before {
          //   content: '';
          //   position: absolute;
          //   bottom: 1rem;
          //   left: 50%;
          //   transform: translateX(-50%);
          //   height: 4px; 
          //   border-radius: 5px;
          //   background-color: theme.$middleGray;
          //   width: calc(100% - 42px);
          // }
        }
        > img {
          right: 0;
          top: 15px;
        }
      }
    }
  }
}