@use '@/styles/theme';
@use '@/styles/common';

.nav {
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: theme.$backgroundColor;
  transition: opacity 0.5s;
  flex-grow: 1;

  ul {
    @include common.button-default;
    margin: 0.7rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    color: theme.$black;
    li {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      a {
        margin: 0.3rem 0.5rem;
        width: 100%;
        padding: 1rem 0.7rem;
        z-index: 1;
      }

      a.active {
        color: theme.$primary;
        margin: 0.5em;
        @include common.button-clicked;
        border-radius: 0.5rem;
        background: rgba(109, 93, 252, 0.01);
      }

      > img {
        position: absolute;
        right: 18px;
        bottom: 50%;
        content: '';
        width: 20px;
        height: 20px;
        transform: translateY(50%) rotate(-90deg);
      }
    }
  }
}

@media screen and (min-width: theme.$tablet) {
  .nav {
    position: static;
    height: auto;
    width: auto;
    flex-grow: 0;
    opacity: 100;
    ul {
      @include common.button-default;
      display: inline-flex;
      justify-content: right;
      flex-direction: row;
      height: 100%;
      margin: 0;
      position: relative;
      li:before {
        display: none;
      }
      li {
        padding: 3px;
        > a.active {
          @include common.button-clicked;
          margin: 0;
          border-radius: 0.35rem;
          color: theme.$primary;
          background: transparent;
        }
        > a {
          margin: 0;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0.7rem;
        }
        > img {
          display: none;
        }

        &:not(:last-child) {
          margin-right: 0.7rem;
        }
      }
    }
  }
}
