@use '@/styles/common';

.typeB {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h2 {
    margin: 0;
    letter-spacing: 4px;
  }
  margin: 25px 0;
  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.title__icon {
  font-size: 20px;
  color: #555555;
}

.typeBList {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.typeBList__card {
  @include common.button-default;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  border-radius: 20px;

  > span {
    padding: 2px 5px;
    font-size: 14px;
    text-align: center;
  }
  > h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  p {
    text-align: center;
    margin: 0;
    > .bold {
      font-weight: 500;
    }
  }
}
.typeB__description {
  display: flex;
  align-items: center;
}

.typeBList__card:nth-child(odd) {
  transform: translateX(-4%);
}

.typeBList__card:nth-child(even) {
  transform: translateX(4%);
}

.typeBList__img {
  box-sizing: content-box;
  width: 100%;
  height: 200px;
  padding: 0px;
  border-radius: 8px;
}

.typeBList__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  .description__work {
    display: flex;
    margin-top: 20px;
  }

  h4 {
    font-size: 22px;
  }
}

.work__icon {
  margin-right: 6px;
  color: #555555;
}
